Data Load into dataframe

In [1]:
import pandas as pd
df = pd.read_csv('data/Data_Train.csv')
df.head()

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly_Income,Home_Status,Unpaid_2_years,Already_Defaulted,Designation,...,File_Status,State,Account_Open,Total_Unpaid_CL,Duration,Unpaid_Amount,Reason,Claim_Type,Due_Fee,Default
0,95074,421802,II,>10yrs,Vfied,633600.00,MORTGAGE,0,0,GLENDALE NISSAN,...,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,IV,7yrs,Source Verified,85483.20,RENT,0,0,Business Teacher,...,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,III,<1yr,Source Verified,79200.00,RENT,0,0,driver,...,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,III,<1yr,Vfied,61600.00,RENT,0,0,AvePoint,...,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,V,2yrs,Source Verified,68053.92,RENT,0,0,Lead Tester,...,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0

In [2]:
# encode GGGrade from roman numerals to integers and drop the original column
df['GGGrade'] = df['GGGrade'].map({'I':1, 'II':2, 'III':3, 'IV':4, 'V':5})
# set designation to lowercase
df['Designation'] = df['Designation'].str.lower()

df.head()

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly_Income,Home_Status,Unpaid_2_years,Already_Defaulted,Designation,...,File_Status,State,Account_Open,Total_Unpaid_CL,Duration,Unpaid_Amount,Reason,Claim_Type,Due_Fee,Default
0,95074,421802,2.0,>10yrs,Vfied,633600.00,MORTGAGE,0,0,glendale nissan,...,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,4.0,7yrs,Source Verified,85483.20,RENT,0,0,business teacher,...,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,3.0,<1yr,Source Verified,79200.00,RENT,0,0,driver,...,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,3.0,<1yr,Vfied,61600.00,RENT,0,0,avepoint,...,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,5.0,2yrs,Source Verified,68053.92,RENT,0,0,lead tester,...,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0

In [4]:
from sklearn.preprocessing import LabelEncoder

# One-hot encoding for low cardinality categorical variables
one_hot_columns = ['Home_Status', 'File_Status', 'Claim_Type', 'Validation', 'Duration']
df_encoded = pd.get_dummies(df, columns=one_hot_columns)

# Label encoding for high cardinality or ordinal categorical variables
label_columns = ['Asst_Reg', 'Designation', 'State', 'Reason', 'Sub_GGGrade']
label_encoder = LabelEncoder()

for col in label_columns:
    df_encoded[col + '_encoded'] = label_encoder.fit_transform(df_encoded[col].astype(str))
    
# Drop original categorical columns after encoding
df_encoded = df_encoded.drop(columns=label_columns)

# Display the first few rows of the encoded DataFrame
print(df_encoded.head())

# Get information about the encoded DataFrame
print(df_encoded.info())

       ID  GGGrade Experience  Yearly_Income  Unpaid_2_years  \
0   95074      2.0     >10yrs      633600.00               0
1  134131      4.0       7yrs       85483.20               0
2   92602      3.0       <1yr       79200.00               0
3   22591      3.0       <1yr       61600.00               0
4  125060      5.0       2yrs       68053.92               0

   Already_Defaulted  Debt_to_Income  Postal_Code  Lend_Amount  \
0                  0         12.5496      91300.0     42023.25
1                  0          9.0048      27400.0     38133.00
2                  0         24.9144      32800.0     17100.00
3                  0         16.5816       7000.0      5130.00
4                  0         40.0512      70800.0     19665.00

   Deprecatory_Records  ...  Validation_Not Vfied  Validation_Source Verified  \
0                    0  ...                 False                       False
1                    0  ...                 False                        True
2                    0  ...                 False                        True
3                    0  ...                 False                       False
4                    0  ...                 False                        True

   Validation_Vfied  Duration_3 years  Duration_5 years  Asst_Reg_encoded  \
0              True              True             False             33710
1             False             False              True             30447
2             False             False              True             34476
3              True              True             False             13893
4             False             False              True             40170

   Designation_encoded  State_encoded  Reason_encoded  Sub_GGGrade_encoded
0                13599              6               3                    8
1                 4323             25               3                   19
2                10350              9               6                   14
3                 2927             31               6                   11
4                17473             16               3                   21

[5 rows x 39 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87500 entries, 0 to 87499
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          87500 non-null  int64
 1   GGGrade                     84810 non-null  float64
 2   Experience                  87500 non-null  object
 3   Yearly_Income               81925 non-null  float64
 4   Unpaid_2_years              87500 non-null  int64
 5   Already_Defaulted           87500 non-null  int64
 6   Debt_to_Income              84011 non-null  float64
 7   Postal_Code                 86111 non-null  float64
 8   Lend_Amount                 87500 non-null  float64
 9   Deprecatory_Records         87500 non-null  int64
 10  Interest_Charged            87500 non-null  float64
 11  Usage_Rate                  87500 non-null  float64
 12  Inquiries                   87500 non-null  int64
 13  Present_Balance             87500 non-null  float64
 14  Gross_Collection            87500 non-null  float64
 15  Account_Open                87500 non-null  int64
 16  Total_Unpaid_CL             83314 non-null  float64
 17  Unpaid_Amount               82648 non-null  float64
 18  Due_Fee                     87500 non-null  float64
 19  Default                     87500 non-null  int64
 20  Home_Status_MORTGAGE        87500 non-null  bool
 21  Home_Status_NONE            87500 non-null  bool
 22  Home_Status_OTHER           87500 non-null  bool
 23  Home_Status_OWN             87500 non-null  bool
 24  Home_Status_RENT            87500 non-null  bool
 25  File_Status_fully paid      87500 non-null  bool
 26  File_Status_whole           87500 non-null  bool
 27  Claim_Type_I                87500 non-null  bool
 28  Claim_Type_J                87500 non-null  bool
 29  Validation_Not Vfied        87500 non-null  bool
 30  Validation_Source Verified  87500 non-null  bool
 31  Validation_Vfied            87500 non-null  bool
 32  Duration_3 years            87500 non-null  bool
 33  Duration_5 years            87500 non-null  bool
 34  Asst_Reg_encoded            87500 non-null  int64
 35  Designation_encoded         87500 non-null  int64
 36  State_encoded               87500 non-null  int64
 37  Reason_encoded              87500 non-null  int64
 38  Sub_GGGrade_encoded         87500 non-null  int64
dtypes: bool(14), float64(12), int64(12), object(1)
memory usage: 17.9+ MB
None